<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.ryanw.barcodedemo"
        version   = "2.0.0">
  <name>CNX centerpoint</name>
  <description>
    ยินดีต้อนรับสู่ศูนย์ประชาสัมพันธ์ผลิตภัณฑ์ชุมชนจังหวัดเชียงใหม่
  </description>

  <author href="http://phonegap.com" email="support@phonegap.com">
    PhoneGap Team
  </author>

  <feature name="Camera">
    <param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
  </feature>
  <plugin name="cordova-plugin-camera" source="npm" />
  <plugin name="cordova-plugin-file-transfer" source="npm" />
  <plugin name="cordova-plugin-inappbrowser" spec="~1.7.1" />
  <plugin name="phonegap-plugin-barcodescanner"/>
  <plugin name="cordova-plugin-whitelist"/>

  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <preference name="phonegap-version" value="cli-8.0.0" />
  <preference name="orientation"      value="default" />
  <preference name="target-device"    value="universal" />
  <preference name="fullscreen"       value="false" />
  <preference name="webviewbounce"    value="false" />

  <platform name="android">
	<icon qualifier="ldpi" src="res/icons/android/drawable-ldpi-icon.png" />
	<icon qualifier="mdpi" src="res/icons/android/drawable-mdpi-icon.png" />
	<icon qualifier="hdpi" src="res/icons/android/drawable-hdpi-icon.png" />
	<icon qualifier="xhdpi" src="res/icons/android/drawable-xhdpi-icon.png" />
	<icon qualifier="xxhdpi" src="res/icons/android/drawable-xxhdpi-icon.png" />
	<icon qualifier="xxxhdpi" src="res/icons/android/drawable-xxxhdpi-icon.png" />
</platform>
<platform name="ios">
	<icon height="57" platform="ios" src="res/icons/ios/icon.png" width="57" />
	<icon height="114" platform="ios" src="res/icons/ios/icon@2x.png" width="114" />
	<icon height="40" platform="ios" src="res/icons/ios/icon-40.png" width="40" />
	<icon height="80" platform="ios" src="res/icons/ios/icon-40@2x.png" width="80" />
	<icon height="50" platform="ios" src="res/icons/ios/icon-50.png" width="50" />
	<icon height="100" platform="ios" src="res/icons/ios/icon-50@2x.png" width="100" />
	<icon height="60" platform="ios" src="res/icons/ios/icon-60.png" width="60" />
	<icon height="120" platform="ios" src="res/icons/ios/icon-60@2x.png" width="120" />
	<icon height="180" platform="ios" src="res/icons/ios/icon-60@3x.png" width="180" />
	<icon height="72" platform="ios" src="res/icons/ios/icon-72.png" width="72" />
	<icon height="144" platform="ios" src="res/icons/ios/icon-72@2x.png" width="144" />
	<icon height="76" platform="ios" src="res/icons/ios/icon-76.png" width="76" />
	<icon height="152" platform="ios" src="res/icons/ios/icon-76@2x.png" width="152" />
	<icon height="29" platform="ios" src="res/icons/ios/icon-small.png" width="29" />
	<icon height="58" platform="ios" src="res/icons/ios/icon-small@2x.png" width="58" />
	<icon height="87" platform="ios" src="res/icons/ios/icon-small@3x.png" width="87" />
</platform>

  <gap:splash src="res/screen/android/screen-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
  <gap:splash src="res/screen/android/screen-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
  <gap:splash src="res/screen/android/screen-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
  <gap:splash src="res/screen/android/screen-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
  <gap:splash src="res/screen/blackberry/screen-225.png"         gap:platform="blackberry" />
  <gap:splash src="res/screen/ios/screen-iphone-portrait.png"    gap:platform="ios"     width="320" height="480" />
  <gap:splash src="res/screen/ios/screen-iphone-portrait-2x.png" gap:platform="ios"     width="640" height="960" />
  <gap:splash src="res/screen/ios/screen-ipad-portrait.png"      gap:platform="ios"     width="768" height="1024" />
  <gap:splash src="res/screen/ios/screen-ipad-landscape.png"     gap:platform="ios"     width="1024" height="768" />

  <gap:splash src="res/screen/ios/Splash-750x1334.png"     gap:platform="ios"     width="750" height="1334" />
  <gap:splash src="res/screen/ios/Splash-2208x1242.png"     gap:platform="ios"     width="1242" height="2208" />
  <gap:splash src="res/screen/ios/Splash-1242x2208.png"     gap:platform="ios"     width="2208" height="1242" />

  <gap:splash src="res/screen/windows-phone/screen-portrait.jpg" gap:platform="winphone" />

  <!-- content src="http://www.w3.org/2010/05/video/mediaevents.html" / -->
</widget>
